
proj/.Rproj.user/shared/notebooks/paths

proj/.Rproj.user/26DAD557/sdb/prop/16139716

proj/.Rproj.user/26DAD557/sdb/prop/INDEX

proj/.Rproj.user/26DAD557/sdb/s-A09F0A95/7DF4F490

proj/.Rproj.user/26DAD557/sdb/s-A09F0A95/7DF4F490

proj/plots/Rplot.pdf

proj/scripts/districts_.R

proj/.Rproj.user/26DAD557/sdb/prop/795F47F6

proj/.Rproj.user/26DAD557/sdb/s-A09F0A95/9C152D7E

proj/.Rproj.user/26DAD557/sdb/s-A09F0A95/C404329D

proj/.Rproj.user/26DAD557/sdb/s-A09F0A95/DDDF3B76

proj/.Rproj.user/26DAD557/sdb/s-A09F0A95/DDDF3B76

proj/.Rproj.user/26DAD557/sdb/prop/INDEX

proj/.Rproj.user/26DAD557/sdb/prop/BD543C3F

proj/.Rproj.user/26DAD557/sdb/prop/INDEX

proj/.Rproj.user/26DAD557/sdb/s-A09F0A95/4A3FB4C0

proj/.Rproj.user/26DAD557/sdb/s-A09F0A95/1FE3A37C

proj/.Rproj.user/26DAD557/sdb/s-A09F0A95/EEB4259C

proj/.Rproj.user/26DAD557/sdb/prop/34486623

proj/.Rproj.user/26DAD557/sdb/s-A09F0A95/98CABB1D

proj/.Rproj.user/26DAD557/sdb/prop/1BA45649

proj/.Rproj.user/26DAD557/sdb/s-A09F0A95/9AAF4301

proj/.Rproj.user/26DAD557/sdb/s-A09F0A95/8E68F59B

proj/.Rproj.user/26DAD557/sdb/prop/4C728FB3

proj/.Rproj.user/26DAD557/sdb/s-A09F0A95/41E6E591

proj/.Rproj.user/26DAD557/sdb/s-A09F0A95/E8BB334A

proj/.Rproj.user/26DAD557/sdb/s-A09F0A95/EFC67C75

proj/.Rproj.user/26DAD557/sdb/s-A09F0A95/47A636A6

proj/.Rproj.user/26DAD557/sdb/prop/89D3C4B6

proj/.Rproj.user/26DAD557/sdb/s-A09F0A95/4B227D0

proj/.Rproj.user/26DAD557/sdb/s-A09F0A95/6BBA6ECC

proj/.Rproj.user/26DAD557/sdb/prop/57D2F5ED

proj/.Rproj.user/26DAD557/sdb/s-A09F0A95/E1DD6FEC

proj/.Rproj.user/26DAD557/sdb/prop/CC7C76D6

proj/.Rproj.user/26DAD557/sdb/s-A09F0A95/C7AF4A5F

proj/.Rproj.user/26DAD557/sdb/s-A09F0A95/316CA88E

proj/.Rproj.user/26DAD557/sdb/prop/5C3FBE8B

proj/.Rproj.user/26DAD557/sdb/s-A09F0A95/5CF92194

proj/.Rproj.user/26DAD557/sdb/s-A09F0A95/F99966F3

proj/.Rproj.user/26DAD557/sdb/s-A09F0A95/6FA75457

proj/.Rhistory

proj/.Rproj.user/26DAD557/sdb/prop/2B93B323

proj/.Rproj.user/26DAD557/sdb/prop/757BCB77

proj/.Rproj.user/26DAD557/sdb/s-A09F0A95/7ACB057A

proj/.Rproj.user/26DAD557/sdb/s-A09F0A95/41453A73

proj/.Rproj.user/26DAD557/sdb/s-A09F0A95/DEC8EC9A
